
<ion-split-pane contentId="ticketList" when="md">
<div id="ticketList">
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button slot="icon-only" color="dark" autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button id="editCatalog" color="dark">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-button>
        <ion-menu-toggle id="toggleTicket" menu="ticketMenu">
          <ion-button><ion-icon slot="icon-only" name="basket-outline"></ion-icon></ion-button>
        </ion-menu-toggle>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
          <ion-slides pager="true">
            <ion-slide>
              <ion-row class="ion-align-items-start">
                <ion-col size="4" *ngFor="let product of products">
                  <ion-card (click)="addProduct(product)">
                    <div class="image-container" [style.backgroundImage]="'url('+ product.Image +')'"></div>
                    <ion-card-content>
                      <h4 class="title" title="product.name">{{product.Name}}</h4>
                      <h5 class="price">{{product.Price}} €</h5>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-slide>
          </ion-slides>
  </ion-content>

  <ion-footer>
  <!-- <ion-footer style="position : fixed;
    width :100%;
    bottom:0"> -->
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>
</div>

  <ion-menu side="end" menuId="ticketMenu" contentId="ticketList" type="overlay">

    <ion-header translucent>
      <ion-toolbar>
        <ion-title text-capitalize>Ticket</ion-title>
        <ion-buttons slot="end">
          <ion-button id="editCatalog">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list lines="full">
        <ion-item *ngFor="let item of shopList">
          <ion-label>{{ item.Name }}</ion-label>
          <ion-note slot="start" color="black">1</ion-note>
          <ion-note slot="end" color="black">{{ item.Price | number:'1.2-2' }}</ion-note>
        </ion-item>
      </ion-list>

    </ion-content>
    <ion-footer>
      <ion-toolbar>
        <ion-grid>
          <ion-row style="margin-bottom:15px">
            <ion-col>
              <ion-text style="font-size:1.2em">Total</ion-text>
            </ion-col>
            <ion-col style="text-align: right">
              <ion-text style="font-size:1.2em;">{{ total | number:'1.2-2' }}</ion-text><ion-text color="pr" style="font-size:0.8em">€</ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button expand="full">Efectivo</ion-button>
            </ion-col>
            <ion-col>
              <ion-button expand="full" fill="outline">Tarjeta</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>

</ion-split-pane>