<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let card of cards" size="4">
        <ion-card>
          <img src="/assets/shapes.svg" alt="" />
          <ion-card-header>
            <ion-card-subtitle>{{ card }}</ion-card-subtitle>
            <ion-card-title>Welcome to Ionic</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- 
<ion-split-pane contentId="ticket-content" slot="end" when="lg"> -->
  <!-- <app-ticket></app-ticket> -->
<!-- </ion-split-pane> -->

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Footer
    </ion-title>
  </ion-toolbar>
</ion-footer>
